.App {
  text-align: center;
  /* background-color: #282c34; */

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(13,17,23);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: rgb(13,17,23);
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.forOptions{
  color: green;
}

.navbar{
  display: flex;
  color: rebeccapurple;
  background-color: rgb(5, 31, 48);
  padding: 5px 10px;
}
.home_button{
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  background-color: rgb(13,17,23);
  border-radius: 10px;
  margin-right: 10px;
  transition: 80ms;
}
.home_button:hover{
  color: tomato;
}
.navbar_button{
  margin: 0px 10px;
  font-size: calc(3px + 2vmin);
  color: whitesmoke;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  border: none;
}
.navbar_button:hover{
  color: tomato;
}
.generator_button{
  width: 150px;
  height: 30px;
  font-size: 0.6em;
  background-color: rgba(172, 255, 47, 0);
  color: whitesmoke;
  border-radius: 10px;
  border: 1px solid grey
}
.generator_button:hover{
  color: snow;
  background-color: rgb(7, 51, 80);
}
.generator_button_selected{
  width: 150px;
  height: 30px;
  font-size: 0.6em;
  color: snow;
  background-color: rgb(7, 51, 80);
  border-radius: 10px;
  border: 1px solid grey
}

.options_container{
  margin: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  color: snow;
  justify-content: center;
}
.options_block{
  width: calc(600px + 2vmin);
  height: calc(500px + 2vmin);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(22, 27, 34);
  color: snow;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.options_block:hover{
  background-color: rgb(59, 59, 59);
  cursor: pointer;
}

.selected{
  color: springgreen;
  width: 100%;
  height: 800px;
}
.unselected{
  display: none;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  
}
.none{
  display: none;
}
.show_option{
  
  width: 90%;
  height: auto;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: rgb(22, 27, 34);
  margin-bottom: 40px;
}

.listOfOptions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  transition: 80ms;
  cursor: pointer;
}

.listOfOptions li{
  width: 100%;
  transition: 500ms;
  
}

.listOfOptions li:hover{
  background-color: rgb(40, 46, 56);
  border-radius: 20px;
}
.listOfOptions{
  border-top: 1px solid gray;
  
}
.commandGenerator{
  background-color: rgb(22, 27, 34);
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.generator_skeleton{
  display: flex;
  flex-direction: column;
}
.generator{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid grey;
  justify-content: center;
  
}
.generator_tag{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid grey;
  background-color: rgb(5, 31, 48);
  border-radius: 20px;
  justify-content: center;
}
.generator_conteiner{
  
  margin-bottom: 10px;
}
.input_your_hash{
  

}
input{
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid grey;

  color: snow;
  border-radius: 10px;
}
.nitifi{
  width: 100px;
  height: 100px;
  background-color: greenyellow;
  z-index: 100;
}