.App {
  text-align: center;
  background-color: #282c34;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: rgb(19, 19, 19);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.forOptions{
  color: green;
}

.navbar{
  display: flex;
  color: rebeccapurple;
  background-color: rgb(4, 5, 4);
  padding: 5px 10px;
}
.home_button{
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  margin-right: 10px;
  transition: 80ms;
}
.home_button:hover{
  color: tomato;
}
.navbar_button{
  margin: 0px 10px;
  font-size: calc(3px + 2vmin);
  color: whitesmoke;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  border: none;
}
.navbar_button:hover{
  color: tomato;
}

.options_container{
  margin: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  color: snow;
  justify-content: center;
}
.options_block{
  width: calc(300px + 2vmin);
  height: calc(250px + 2vmin);
  
  display: flex;
  background-color: rgb(36, 36, 36);
  color: snow;
  border: 2px solid snow;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.options_block:hover{
  background-color: rgb(59, 59, 59);
}

.selected{
  color: springgreen;
  width: 100%;
  height: 800px;
}
.unselected{
  display: none;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  
}
.none{
  display: none;
}
.show_option{
  position: absolute;
  width: 90%;
  height: 800px;
  background-color: grey;
}
